@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

#wrap {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 40px;
  line-height: 0.5em;
  text-align: right;
}

h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 15px;
  line-height: 0.5em;
  text-align: right;
}
